.Notice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  height: auto;
  margin: 0;
  background: rgb(240, 240, 240);
}

body {
  font-family: "NanumSquare, sans-serif";
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  background-color: white;
}

.innerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  margin: 50px;
}

.category {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 5px;
}

#jk {
  font-weight: bold;
}

#logo {
  display: flex;
  align-self: flex-end;
  margin-top: 70px;
}

.innerContainer2 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 50px 0px;
  padding: 0px;
}

.test {
  max-width: 20vw;
}
