/* .Etc {
  width: 100vw;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.Worthytool,
.Blueshark,
.TichopPower,
.TichopComp,
.SearchPage {
  max-width: 100vw;
  margin: 0;
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

@font-face {
  font-family: "NanumGothic";
  src: url("./font/NanumGothic.eot");
  src: url("./font/NanumGothic.eot?#iefix") format("embedded-opentype"),
    url("./font/NanumGothic.woff2") format("woff2"),
    url("./font/NanumGothic.woff") format("woff"),
    url("./font/NanumGothic.ttf") format("truetype"),
    url("./font/NanumGothic.svg#NanumGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumGothic", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

button,
button:visited,
button:hover,
button:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar_search1 {
  display: none;
  /* display: flex; */
  align-items: center;
  padding: 15px 40px;
}

#searchBtn {
  background-image: url("./imgs/search_icon.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border: 0px;
  cursor: pointer;
  outline: 0;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  background-color: transparent;
}

.Worthytool .container,
.Blueshark .container,
.TichopPower .container,
.TichopComp .container,
.SearchPage .container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  background-color: white;
}

.Worthytool .innerContainer1,
.Blueshark .innerContainer1,
.TichopPower .innerContainer1,
.TichopComp .innerContainer1,
.SearchPage .innerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 90%;
  margin: 0;
}

.Worthytool .category,
.Blueshark .category,
.TichopPower .category,
.TichopComp .category,
.SearchPage .category {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 5px;
  margin-top: 20px;
}

.TichopPower #line,
.TichopComp #line,
.Blueshark #line,
.Worthytool #line,
.SearchPage #line,
.Etc #line {
  width: 100vw;
  height: 1px;
  background-color: dimgray;
  margin-bottom: 2%;
}

.mainBannerParents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.mainBannerParentsMobile {
  display: none;
}

#mainBannerImg {
  max-width: 100%;
  height: auto;
  padding: 0;
}

#mainBannerText {
  position: absolute;
  color: rgb(255, 183, 0);
  font-weight: bolder;
  font-size: 5rem;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}

#mainBannerImgMobile {
  max-width: 100%;
  height: auto;
  padding: 0;
}

.TichopComp #mainBannerText {
  position: absolute;
  color: rgb(255, 183, 0);
  font-weight: bolder;
  font-size: 5rem;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}

.Blueshark #mainBannerText {
  position: absolute;
  color: rgb(23, 87, 182);
  font-weight: bolder;
  font-size: 4em;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}

.Worthytool #mainBannerText {
  position: absolute;
  color: rgb(212, 61, 41);
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}

.SearchPage #mainBannerText {
  position: absolute;
  color: rgb(212, 61, 41);
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}

/* 여기까지 mainbanner*/

.TichopPower .fix_width,
.TichopComp .fix_width,
.Blueshark .fix_width,
.Worthytool .fix_width,
.SearchPage .fix_width,
.Etc .fix_width {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
}

.tichopPower1,
.tichopComp1 {
  background-color: rgb(240, 240, 240);
}

.TichopPower .section,
.TichopComp .section,
.Blueshark .section,
.Worthytool .section,
.SearchPage .section,
.Etc .section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  font-size: 12px;
  margin: 8px 3%;
  padding: 50px 30px 30px 30px;
  font-size: larger;
  font-weight: bold;
  max-width: 100%;
}

.section::before,
.section::after {
  content: "";
  flex-grow: 1;
  background: dimgray;
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 15px;
}

.stuffgroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.stuffPairGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container0 {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#none {
  opacity: 0;
}

#stuffBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.stuffBoxImg {
  max-width: 414px;
  height: auto;
}

#stuffName {
  font-size: 25px;
  font-weight: bold;
  color: dimgray;
}

#stuffSpec {
  font-size: 17px;
  font-weight: lighter;
  color: gray;
}

.link1 {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.link2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
  padding: 95px 0px 0px 0px;
}

.link2_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin-top: 0px;
  padding-left: 20px;
}

#more {
  margin: 0px;
  padding-left: 0px;
}

.link1_title {
  display: flex;
  align-items: center;
  margin: 0px 0px 50px 0px;
  padding-left: 0px;
  list-style: none;
}

.link2_title {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
  margin-top: 0px;
  padding-left: 0px;
  list-style: none;
}

.link3_title {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
  margin-top: 0px;
  padding-left: 0px;
  list-style: none;
}

#hv_title1 {
  margin: 0px;
  padding: 10px;
}

#yt_logo {
  margin: 0px;
  padding: 10px;
}

#flexMovie {
  position: relative;
  max-width: 100%;
}

#blank {
  height: 7vh;
}

/* 여기서부터 모바일 적용 */

/* @media screen and (max-width: 1100px) {
  .navbar_search {
    padding: 8px 50px 50px 40px;
  }
} */

@media screen and (min-width: 600px) {
  .navSmall {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .mainBannerBack {
    height: 200px;
  }

  
  .mainBannerParents {
    display: none;
  }

  .mainBannerParentsMobile {
    display: block;
  }

  .navbar_search1 {
    display: block;
    display: flex;
    align-items: center;
    padding: 15px 40px;
  }

  #noStuff {
    margin: 50px 0px 80px 0px;
  }

  #edge1 {
    width: 100%;
    height: 15px;
  }

  #stuffBox {
    transform: scale(0.6, 0.6);
    /* max-width: 600px;
    height: auto; */
  }
  .stuffBoxSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    max-height: 300px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  .section1,
  .section2,
  .section3 {
    padding: 30px 40px 20px 40px;
  }
  .link2_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-top: 0px;
    padding-left: 20px;
  }
  .link3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
  }
  .container3 {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0px 40px 0px;
    padding: 0%;
  }
  .sitemap {
    display: none;
  }
  .footerBack {
    display: flex;
    align-items: center;
    height: 200px;
  }
  .information {
    font-size: 50%;
    font-weight: lighter;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  background-color: white;
}

.innerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  margin: 50px;
}

.category {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 5px;
}

#line {
  max-width: 100%;
  height: 1px;
  background-color: dimgray;
  margin-bottom: 5%;
}

#jk {
  font-weight: bold;
}

#logo {
  display: flex;
  align-self: flex-end;
  margin-top: 70px;
}

.innerContainer2 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 50px 0px;
  padding: 0px;
}

.test {
  max-width: 20vw;
}
