.carousel {
  width: 100%;
  height: auto;
  margin: 0;
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.slideNavLeft {
  width: auto;
  height: auto;
  position: absolute;
  left: 10%;
  z-index: 1;
  opacity: 70%;
}

.slideNavRight {
  width: auto;
  height: auto;
  position: absolute;
  right: 10%;
  z-index: 1;
  opacity: 70%;
}

.slideNavLeft button,
.slideNavRight button {
  border: 0;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
}

.slideNavLeft:hover,
.slideNavLeft:active,
.slideNavRight:hover,
.slideNavRight:active {
  cursor: pointer;
  opacity: 100%;
}

.indicators > button.active {
  background-color: dimgray;
  color: lightgray;
}

.indicators {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 100px;
  height: 30px;
  padding-bottom: 1%;
  z-index: 1;
}

.indicators button {
  border: 0;
  border-radius: 50%;
  background-color: lightgray;
  width: 15px;
  height: 15px;
  padding: 0px;
  margin: 5px;
}

.indicators button:hover,
.indicators button:visited {
  background-color: dimgray;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .slideNavLeft,
  .slideNavRight {
    display: none;
  }

  .indicators {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 3%;
    width: 100px;
    height: 30px;
    z-index: 1;
  }
}
