.Leaflet {
  max-width: 100vw;
  margin: 0;
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

@font-face {
  font-family: "NanumGothic";
  src: url("./font/NanumGothic.eot");
  src: url("./font/NanumGothic.eot?#iefix") format("embedded-opentype"),
    url("./font/NanumGothic.woff2") format("woff2"),
    url("./font/NanumGothic.woff") format("woff"),
    url("./font/NanumGothic.ttf") format("truetype"),
    url("./font/NanumGothic.svg#NanumGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumGothic", sans-serif;
}

input,
textarea,
button,
label {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.Leaflet .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: white;
}

.sortAndSearchContainer {
  width: 100%;
  background-color: white;
}

.sortAndSearch {
display: flex;
justify-content: flex-end;
flex-flow: row wrap;
align-items: center;
width: 90%;
background-color: white;
margin: 0;
padding: 0px 0px 10px 0px;
}

.sortContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 0px;
}

#sort {
  margin-right: 5%;
  height: 27px;
  border: 1px solid black;
  border-radius: 1px;
  font-size: 15px;
  color: black;
  background-color: white;
}

#barndName {
  font-size: 15px;
  width: 48px;
  font-weight: lighter;
  margin: 0;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchBox {
  width: 150px;
  height: 25px;
  border: 1px solid black;
  border-radius: 1px;
  font-size: 15px;
  color: black;
  background-color: white;
  padding: 0px;
}

#searchBtn1 {
  background-image: url("./imgs/search_icon1.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
  outline: 0;
  padding: 0px;
  margin: 0px 5px;
  background-color: transparent;
}

.Leaflet .innerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 90%;
  margin: 0;
}

.Leaflet .category {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 12px;
  margin-top: 20px;
}

#line {
  width: 100vw;
  height: 1px;
  background-color: dimgray;
  margin-bottom: 2%;
}

#line1 {
  width: 100%;
  height: 1px;
  background-color: rgb(195, 195, 195);
  margin-bottom: 0;
}

.autoNo {
  display: flex;
  width: 10px;
  justify-content: flex-end;
  margin-right: 20px;
}

.indexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom: 60px;
}

.indexContainer1 {
  display: none;
}

.indexList {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.indexListWidth {
  width: 100%;
}

.indexImg {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 0px;
  margin-top: 5px;
}

.imgAlign {
  margin: 0px;
  padding: 0px;
}

.edge {
  width: 150px;
  margin: 0px;
  border: 1px outset rgb(182, 182, 182);
}

.textPadding {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}


@media screen and (max-width: 600px) {

  .sortContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    background-color: white;
    padding: 20px 0px 5px 0px;
  }
  
  #sort {
    margin-right: 0px;
  }

  .searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
  }

  #searchBox {
    width: 150px;
    height: 25px;
    border: 0px;
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 0px;
  }

  #wall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgb(222, 222, 222);
  }

  #searchBtn1 {
    background-image: url("./imgs/search_icon1.svg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: 0;
    padding: 0px;
    margin: 0px 5px;
    background-color: transparent;
  }

/* sorting and searching */

  .indexContainer {
    display: flex;
    flex-direction: row;
  }

  .indexImg {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    flex-flow: row wrap;
  }

  .textPadding {
    width: auto;
    margin: 10px 0px;
  }

  .imgAlign {
    display: flex;
    order: -1;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .edge {
    display: flex;
    justify-content: center;
  }

  .autoNo, .textAlign {
    font-size: 12px;
    margin: 0;
  }

}
