.modal {
  position: absolute; /* 위치를 절대값으로 설정하여 스크롤 이동 반영 */
  top: 10%; /* 화면 상단에서 10% 위치 */
  left: 10%; /* 왼쪽에서 10% 위치 */
  cursor: move; /* 드래그 이동 커서 적용 */
  z-index: 2; /* 가장 상위 레이어로 설정 */
  background-color: white;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.modal:hover {
  cursor: move; /* 드래그 가능 상태에서 이동 커서 적용 */
}

.modalContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.closeBtn {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  /* padding: 0px;
  margin: 0px; */
}


.popUpImg {
  max-height: 500px;
  /* object-fit: contain; */
}

.close {
  color: white;
  border: none;
  background-color: gray;
  margin: 5px;
  cursor: default; /* 버튼 영역에서는 기본 커서 */
}

.todayClose {
  border: none;
  background-color: white;
  cursor: default; /* 버튼 영역에서는 기본 커서 */
}


@media screen and (max-width: 520px) {

  .modal {
    top: 11%; /* 화면 상단에서 10% 위치 */
  }

  .noticeBanner {
    width: 100%;
    max-height: 500px;
  }

  .modal {
    left: 0%; /* 왼쪽에서 0% 위치 */
  }


  .closeBtn {
    margin-top: -4px;
  }
  /* .popUpImg {
    max-height: 500px;
  } */

}
