.Notice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  height: auto;
  margin: 0;
  background: rgb(240, 240, 240);
}

@font-face {
  font-family: "NanumGothic";
  src: url("./font/NanumGothic.eot");
  src: url("./font/NanumGothic.eot?#iefix") format("embedded-opentype"),
    url("./font/NanumGothic.woff2") format("woff2"),
    url("./font/NanumGothic.woff") format("woff"),
    url("./font/NanumGothic.ttf") format("truetype"),
    url("./font/NanumGothic.svg#NanumGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumGothic", sans-serif;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:visited,
button:hover,
button:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Notice .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  background-color: white;
}

.Notice .innerContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  margin: 50px;
}

.Notice .category {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 5px;
}

#search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2%;
}

#select {
  width: 60px;
  height: 30px;
}

.select1:hover,
.select2:hover {
  background-color: gray;
}

.search1 {
  width: auto;
  height: 30px;
  margin: 5px;
}

.search2 {
  width: auto;
  height: 30px;
}

#line {
  width: 100vw;
  height: 1px;
  background-color: dimgray;
  margin-bottom: 0;
}

.Notice .container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: auto;
  background-color: white;
}

.boardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  background-color: white;
  padding-bottom: 5%;
}

.boardTitle,
.boardContent {
  width: 80%;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.boardContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

#line1 {
  width: 80%;
  height: 1px;
  background-color: dimgray;
  margin-bottom: 0;
}

#no {
  width: 18%;
  display: flex;
  justify-content: center;
}

#title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#date {
  width: 35%;
  display: flex;
  justify-content: center;
}

#click {
  width: 15%;
  display: flex;
  justify-content: center;
}

#boardBtn {
  border: 0;
  background-color: white;
  font-size: 15px;
}

.content {
  display: none;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#contentText {
  font-family: "NanumGothic", sans-serif;
  color: black;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .boardTitle li,
  .boardContent li,
  #boardBtn {
    font-size: 12px;
  }

  pre {
    font-size: 12px;
    overflow: auto;
  }


}
